.jumbotron
  %h1 Create A Game
  %p.lead Create a new game of Scrum Hold'em
  %form
    .form-group
      %label.sr-only{:for => "organisers_name"} Your name (organiser)
      %input#organisers_name.form-control{:placeholder => "Your name (organiser)", :type => "text"}
    .form-group
      %label.sr-only{:for => "name"} Game/Project/Company name
      %input#game_pin.form-control{:placeholder => "Game/Project/Company", :type => "text"}
    .row
      %button.btn.btn-success{:type => "submit"} Create Game
