.jumbotron
  %h1 Create A Game
  %p.lead Create a new game of Scrum Hold'em
  = simple_form_for @game, url: {action: 'create'} do |f|
    .form-group
      =f.input :organiser_name, input_html: { class: 'form-control'}, placeholder: 'Your name (organiser)', label_html: { class: 'sr-only' }
    .form-group
      =f.input :name, input_html: { class: 'form-control'} , placeholder: 'Game/Project/Company', label_html: { class: 'sr-only' }
    .row
      %button.btn.btn-success{:type => "submit"} Create Game