%h1 Votes
- scores = @game.votes.group(:points).count.sort_by { |k,v| k }
- scores.each do |points, count|
  .row
    .btn.btn-primary.btn-vote= points
    - @game.votes.where(points: points).each do |vote|
      .btn.btn-info.btn-vote-name= vote.player.name


