!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Scrum Hold'em
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.pull-right
            %li.active{:role => "presentation"}
              %a{:href => root_path} Join Game
            %li{:role => "presentation"}
              %a{:href => new_game_path} Create Game
        %h3.text-muted Scrum Hold'em
      = yield
      %footer.footer
        %p © 2016 Createk Labs Ltd.

